.VueCarousel-dot-container {
    margin-top: 10px;
}

.VueCarousel-dot {
    width: 10px !important;
    height: 10px !important;
    margin: 5px 7px !important;
    border-radius: 3px !important;
    transition: all 0.5s ease;
    background: rgba(47, 85, 212, 0.5) !important;
    padding: 0 !important;
}

.VueCarousel-dot:focus {
    outline: none !important;
}

.VueCarousel-dot--active {
    background-color: #2f55d4 !important;
    transform: rotate(45deg);
}

.spinner-border {

    vertical-align: middle;
}

.upload-photo-dark-text {
    cursor: pointer;
    margin-top: 10px;
    display: block;
    color: #000;
    text-align: center;
    font-size: 12px;
}

.upload-photo-dark,
.upload-photo {
    cursor: pointer;
    margin-top: 10px;
    display: block;
    color: #aaa;
}

.upload-photo:hover {
    color: #333;
}

.upload-photo-dark:hover {
    color: #FFF;
}

.upload-photo-dark-text:hover {
    color: #aaa;
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

#upload-photo-back {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-photo-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.upload-btn {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 200px !important;
    font-size: 14px;
}

.bounce-enter-active {
    animation: bounce-in .3s;
}

.bounce-leave-active {
    animation: bounce-in .3s reverse;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.form-error {
    color: red;
    font-size: 8pt;
}

.form-group form-control:focus {
    border-color: red !important;
}

.has-error:focus,
.has-error {
    border-color: red !important;
}

.has-error .form-control {
    border-color: red !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.col-form-label {
    line-height: 2;
}

hr.primary {
    border-top: 3px solid #161c2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

hr.primary-sm {
    border-top: 1px solid #161c2d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form-control:disabled,
.form-control[readonly] {
    background-color: #f8f9fc;
    opacity: 1;
}

.nav-tabs .nav-link.active {
    color: white !important;
    background-color: #161c2d !important;
}

.nav-tabs {
    border-bottom: 3px solid #161c2d;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.nav-link.active {
    border: 1px solid transparent !important;
}

.nav-link:hover {
    border: 1px solid transparent !important;
    background-color: #2f56d427;
}

.nav-link.active2 {
    border: 1px solid transparent !important;
    background-color: #2f56d427;
}

.nav-tabs {
    padding-left: 10px;
    border-bottom-left-radius: 10px;
}

.vuenoti.warn {
    background: rgb(255, 152, 0);
    background: linear-gradient(173deg, rgba(255, 152, 0, 1) 0%, rgba(255, 193, 7, 1) 100%);
}

.vuenoti.danger {
    background: rgb(255, 87, 34);
    background: linear-gradient(173deg, rgba(255, 87, 34, 1) 0%, rgba(216, 67, 21, 1) 100%);
}

.vuenoti.success {
    background: rgb(76, 175, 80);
    background: linear-gradient(173deg, rgba(76, 175, 80, 1) 0%, rgba(85, 139, 47, 1) 100%);
}

.signature-pad {
    position: relative;
    height: 300px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
}

.btn-sm {
    font-weight: 300;
}

.bg-overlay-white {
    background-color: #161c2d !important;
}

.bg-overlay-img {
    /* background-image: url(/images/logo/AWARIS_Logo_BW.png) no-repeat center center fixed; */

    background-image: url(/images/logo/AWARIS_Logo_lightgrey.png);
    /* background-image: url(/images/logo/AWARIS_Logo_1080px_darkgrey.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 55%;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 40px !important;
}

#topnav-login {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    background-color: transparent;
    border: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

#topnav-login .navigation-menu>li>a {
    display: block;
    color: #fff;
    font-size: 13px;
    background-color: transparent !important;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-family: "Nunito", sans-serif;
    padding-left: 15px;
    padding-right: 15px;
}

#topnav-login .navigation-menu>li>a:hover,
#topnav-login .navigation-menu>li>a:active {
    color: #fff !important;
}

#topnav-login .navigation-menu>li>a {
    color: #fff;
    padding: 20px 20px;
}

#topnav-login .navigation-menu>li>a:after {
    position: absolute;
    right: 15px;
}

#topnav-login .navigation-menu>li>a:hover,
#topnav-login .navigation-menu>li .submenu li a:hover,
#topnav-login .navigation-menu>li.has-submenu.open>a {
    color: #fff !important;
}

#topnav-login .navigation-menu {
    justify-content: left;
}

.border-bottom-nav {
    /* color: #3c4858; */
    border-bottom: 1px solid #3c4858 !important;
}

.footer-login {
    color: #fff;
    background-color: #161c2d;
    font-size: 10px;
    font-weight: 200;
}

.footer-login.footer-bar {
    border-top: none;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bg-home {
    /* height: auto; */
    background-color: #f5f5f5;
}

.card {
    border-radius: 0px;
}

.card-signup {
    padding-top: 100px;
}

.card-signup p {
    font-size: 10px;
    color: #828282;
}

.rounded-login {
    border-radius: 20px !important;
}

@media (min-width: 992px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
    }

    .bg-home {
        padding: 0px 0 !important;
        height: 88vh;
    }
}

@media (min-width: 992px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .container {
        padding-right: 0 !important;
        padding-left: 0 !important;
        margin-right: auto;
        margin-left: auto;
    }

    .bg-home {
        padding: 0px 0 !important;
    }
}

@media (min-width: 768px) {

    .signup-logo {
        width: 200px !important;
    }

    .card .card-body-signup {
        padding: 50px 70px 20px 70px !important
    }

    .card .card-body-login {
        padding: 50px 70px 50px 70px !important;
    }

    .login-page {
        width: 500px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-right: 20px !important;
        padding-left: 20px !important;
        margin-right: auto;
        margin-left: auto;
    }

    .signup-logo {
        width: 150px !important;
    }

    .bg-home,
    .bg-half-170,
    .bg-half-260,
    .main-slider .slides .bg-slider,
    .bg-marketing,
    .swiper-slider-hero .swiper-container .swiper-slide {
        padding: 0px 0 !important;
        height: auto !important;
    }

    .card .card-body-signup {
        padding: 50px 30px 50px 30px !important;
    }

    .card .card-body-login {
        padding: 50px 30px 50px 30px !important;
    }

    .login-page {
        width: 300px !important;
    }

}

@media (min-width: 1024px) {

    .card .card-body-signup {
        padding: 50px 200px 50px 200px !important;
    }

    .card .card-body-login {
        padding: 50px 30px 50px 30px !important;
    }
}

.first-letter::first-letter {
    text-transform: capitalize;
}

.bg-secondary {
    color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.step {
    position: relative;
    min-height: 32px
        /* circle-size */
    ;
}

.step>div:first-child {
    position: static;
    height: 0;
}

.step>div:last-child {
    margin-left: 32px;
    padding-left: 16px;
}

.circle {
    background: #5a6d90;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: white;
    text-align: center;
}

.circle-active {
    background: blue;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    position: relative;
    color: white;
    text-align: center;
}

.line {
    position: absolute;
    border-left: 1px solid gainsboro;
    left: 16px;
    bottom: 10px;
    top: 42px;
}

.step:last-child .line {
    display: none;
}

.title {
    line-height: 32px;
    font-weight: bold;
}

#content {
    position: relative;
    /* width:360px; */
    /* height:200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5cm;
}

#content-ic {
    position: relative;
    /* width:360px; */
    /* height:200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5cm;
}

/* #content h2 {
    position: absolute;
    display: flex;
    padding: 10px;
    background-color: rgba(255,255,255,0.8);
  }   */
#content p {
    /* flex: 0.6; */
    display: flex;
}

#content img {
    object-fit: cover;
    width: 70%;
    height: 100%;
}

#content:before,
#content:after,
#content>:last-child:before,
#content>:last-child:after {
    z-index: 1;
    position: absolute;
    width: 60px;
    height: 50px;
    border-color: red;
    border-style: solid;
    content: ' ';
}

#content:before {
    top: 5%;
    left: 25%;
    border-width: 1px 0 0 1px
}

#content:after {
    top: 5%;
    right: 25%;
    border-width: 1px 1px 0 0
}

#content>:last-child:before {
    bottom: 5%;
    right: 25%;
    border-width: 0 1px 1px 0
}

#content>:last-child:after {
    bottom: 5%;
    left: 25%;
    border-width: 0 0 1px 1px
}

#content-ic:before,
#content-ic:after,
#content-ic>:last-child:before,
#content-ic>:last-child:after {
    z-index: 1;
    position: absolute;
    width: 60px;
    height: 50px;
    border-color: red;
    border-style: solid;
    content: ' ';
}

#content-ic:before {
    top: 10%;
    left: 17%;
    border-width: 1px 0 0 1px
}

#content-ic:after {
    top: 10%;
    right: 17%;
    border-width: 1px 1px 0 0
}

#content-ic>:last-child:before {
    bottom: 10%;
    right: 17%;
    border-width: 0 1px 1px 0
}

#content-ic>:last-child:after {
    bottom: 10%;
    left: 17%;
    border-width: 0 0 1px 1px
}

@media (max-width: 991px) {
    .btn-hai {
        display: none;
    }

    .nav-user {
        display: block !important;
    }

    .show-max {
        display: block;
    }
}

@media (min-width: 990px) {
    .nav-user {
        display: none !important;
    }

    .show-max {
        display: none;
    }
}

.swal2-styled.swal2-confirm {
    background-color: #161c2d !important;
}

.swal2-input {
    font-size: 13px !important;
    padding: .375rem .75rem !important;
    height: 42px !important;
    border-radius: 6px !important;
}

.swal2-file:focus,
.swal2-input:focus,
.swal2-textarea:focus {
    border-color: #161c2d !important;
    box-shadow: none !important;
}

.login-page {
    width: 500px;
}

/* Footer */
.footer-title {
    font: normal bold 14px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.footer-copyright {
    font: 12px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.right {
    /* position: absolute; */
    /* right: 0px !important;
    vertical-align: right !important; */
    float: right;
    margin-bottom: 30px !important;
}

.text-secondary,
.text-foot {
    color: #adb5bd !important;
    font: 14px "Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

/* Language */
.lang-bg {
    background-color: #000;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px 10px 5px 10px;
    color: #3c4858;
}

.lang-bg span:hover {
    font-weight: 900;
    color: #adb5bd;
}

/* span.span-lang:active {
    font-weight: 900;
    color: #adb5bd;
} */

.p-lang {
    font-size: 10px;
    margin-top: 20px;
}

/* Dashboard */
.btn-primary-db {
    background-color: rgb(24, 37, 77);
    color: #FFF;
    border-radius: 10px;
    font-size: 14px;
    padding: 12px 20px;
}

.btn-primary-db:hover {
    color: #FFF;
    background-color: #161c2d;
}

/* Text Transform */
.uppercase {
    text-transform: uppercase;
}

/* Button Upload */
.btn-upload {
    border-radius: 5px;
    width: 40%;
}

/* Wasiat verification page */
.verification-page {
    width: 1200px;
}